<h2>Changer de mot de passe</h2>
<form autocomplete="off" novalidate [formGroup]="form" (submit)="submitForm()">
  <label for="actualPassword">Mot de passe actuel</label>
  <input type="password" name="actualPassword" id="actualPassword" required minlength="5" formControlName = "password">

  <label for="newPassword">Nouveau mot de passe</label>
  <input type="password" name="newPassword" id="newPassword" required minlength="5" formControlName = "newPassword">

  <label for="newPasswordSecure">Nouveau mot de passe <span *ngIf="passwordError">Incorrect</span></label>
  <input type="password" name="newPasswordSecure" id="newPasswordSecure" required minlength="5" formControlName = "secureNewPassword" (focus)="passwordError = false">

  <button type="submit" [disabled]='!form.valid'>Valider</button>
</form>

<app-form-response
    *ngIf="displayReturn"
    [content]="apiMessage"
    [class]="messageClass"
    (close)="displayReturn = false"
></app-form-response>