<section>
  <ng-template [ngIf]="user" [ngIfElse]="loggedOut">
    <div>
      <h1>Hello {{ user.first_name }} {{ user.last_name }},</h1>
      <p class="steady">You have 10 seconds to tap. Ready? Steady? Tap!</p>
    </div>
    <nav>
      <ul>
        <li *ngIf="page === '/me'" ><a [routerLink]="'/scores'">Scores</a></li>
        <li *ngIf="page !== '/me'" ><a [routerLink]="'/me'">Jouer</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </nav>

  </ng-template>
  
  <ng-template #loggedOut>
    <nav>
    <ul>
      <li><a [routerLink]="'/'">Homepage</a></li>
    </ul>
  </nav>
  </ng-template>
</section>