<section class="flexBox spaceBetween">
    <article>
            <h2>Connexion</h2>
            <app-form-login 
            (sendFormData)="connectUser($event)" 
            [resetFormData]="resetFormDataLogin"
            ></app-form-login>
            
            <app-form-response
                *ngIf="displayReturnLogin"
                [content]="apiMessageLogin"
                [class]="messageClassLogin"
                (close)="displayReturnLogin = false"
            ></app-form-response>
    </article>
    
    <article>
        <h2>Inscription</h2>
        <app-form-register 
        (sendFormData)="registerUser($event)" 
        [resetFormData]="resetFormDataRegister"
        ></app-form-register>
    
        <app-form-response
            *ngIf="displayReturnRegister"
            [content]="apiMessageRegister"
            [class]="messageClassRegister"
            (close)="displayReturnRegister = false"
        ></app-form-response>
    </article>
</section>